@using Newtonsoft.Json;
@{
    ViewData["Title"] = "จัดการสายงาน";
}
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>ดำเนินการ</th>
            <th>สายงาน</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>