@using Newtonsoft.Json;
@{
    ViewData["Title"] = "ตรวจสอบรับวางบิล";
}
<div class="container-fluid" style="background-color:#fcfcfc">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="ProjectId"><b>ชื่อโครงการ</b></label>
                <select class="form-select" id="ProjectId">
                    <option value="0" selected>ทั้งหมด</option>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.Projects)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="PrNo"><b>เลขที่ PR</b></label>
                <select class="form-select" id="PrNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="PoNo"><b>เลขที่ PO</b></label>
                <select class="form-select" id="PoNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="BillingNo"><b>เลขที่ใบวางบิล</b></label>
                <select class="form-select" id="BillingNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="RequesterId"><b>ผู้สั่งสินค้า</b></label>
                <select class="form-select" id="RequesterId">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="Status"><b>สถานะการวางบิล</b></label>
                <select class="form-select" id="Status">
                    <option selected>ทั้งหมด</option>
                    <option>รอชำระเงิน</option>
                    <option>รอรับใบเสร็จ/ใบกำกับภาษี</option>
                    <option>รอตรวจสอบวางบิล</option>
                    <option>วางบิลสำเร็จ</option>
                    <option>ยกเลิก</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="no_payment"><b>รอชำระเงิน</b></label>
                <select class="form-select" id="no_payment">
                    <option value="0" selected>ทั้งหมด</option>
                    <option value="1">ใช่</option>
                    <option value="2">ไม่ใช่</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="no_receipt"><b>รอรับใบเสร็จ</b></label>
                <select class="form-select" id="no_receipt">
                    <option value="0" selected>ทั้งหมด</option>
                    <option value="1">ใช่</option>
                    <option value="2">ไม่ใช่</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="no_invoice"><b>รอรับใบกำกับภาษี</b></label>
                <select class="form-select" id="no_invoice">
                    <option value="0" selected>ทั้งหมด</option>
                    <option value="1">ใช่</option>
                    <option value="2">ไม่ใช่</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <button id="search_btn" type="button" class="btn btn-outline-success"><i class="fa fa-search"> &nbsp;ค้นหา</i></button>
    </div>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#All">ทั้งหมด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" data-bs-toggle="tab" href="#Approve" id="waiting_tab">รับวางบิล</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" data-bs-toggle="tab" href="#Cancel" id="cancel_tab">ยกเลิก</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Tab panes All -->
        <div id="All" class="container-fluid tab-pane active">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpc" scope="col">ลำดับ</th>
                            <th class="bgpc" scope="col" colspan="2">ดำเนินการ</th>
                            <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                            <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                            <th class="bgpc" scope="col">วันที่ชำระ</th>
                            <th class="bgpc" scope="col">วิธีการชำระ</th>
                            <th class="bgpc" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpc" scope="col">จำนวนเงิน</th>
                            <th class="bgpc" scope="col">ค่าใช้จ่ายเพิ่มเติม</th>
                            <th class="bgpc" scope="col">สถานะการชำระเงิน</th>
                            <th class="bgpc" scope="col">สถานะใบเสร็จรับเงิน</th>
                            <th class="bgpc" scope="col">เลขที่ใบเสร็จรับเงิน</th>
                            <th class="bgpc" scope="col">สถานะใบกำกับภาษี</th>
                            <th class="bgpc" scope="col">เลขที่ใบกำกับภาษี</th>
                            <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                            <th class="bgpc" scope="col">เอกสารอ้างอิงวางบิล</th>
                            <th class="bgpc" scope="col">ผู้ตรวจสอบรับวางบิล</th>
                            <th class="bgpc" scope="col">เอกสารอ้างอิงตรวจสอบวางบิล</th>
                            <th class="bgpc" scope="col">สถานะวางบิล</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody id="all_table">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
        <!-- Tab panes Approve -->
        <div id="Approve" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpc" scope="col"></th>
                            <th class="bgpc" scope="col">ลำดับ</th>
                            <th class="bgpc" scope="col">ดำเนินการ</th>
                            <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                            <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                            <th class="bgpc" scope="col">วันที่ชำระ</th>
                            <th class="bgpc" scope="col">วิธีการชำระ</th>
                            <th class="bgpc" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpc" scope="col">จำนวนเงิน</th>
                            <th class="bgpc" scope="col">ค่าใช้จ่ายเพิ่มเติม</th>
                            <th class="bgpc" scope="col">สถานะการชำระเงิน</th>
                                    <th class="bgpc" scope="col">สถานะใบเสร็จรับเงิน</th>
                            <th class="bgpc" scope="col">เลขที่ใบเสร็จรับเงิน</th>
                                    <th class="bgpc" scope="col">สถานะใบกำกับภาษี</th>
                                    <th class="bgpc" scope="col">เลขที่ใบกำกับภาษี</th>
                            <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                            <th class="bgpc" scope="col">ผู้ตรวจสอบรับวางบิล</th>
                            <th class="bgpc" scope="col">สถานะวางบิล</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody id="approve_table">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
        <!-- Tab panes Cancel -->
        <div id="Cancel" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpc" scope="col"></th>
                            <th class="bgpc" scope="col">ลำดับ</th>
                            <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                            <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                            <th class="bgpc" scope="col">วันที่ชำระ</th>
                            <th class="bgpc" scope="col">วิธีการชำระ</th>
                            <th class="bgpc" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpc" scope="col">จำนวนเงิน</th>
                            <th class="bgpc" scope="col">ค่าใช้จ่ายเพิ่มเติม</th>
                            <th class="bgpc" scope="col">สถานะการชำระเงิน</th>
                                    <th class="bgpc" scope="col">สถานะใบเสร็จรับเงิน</th>
                            <th class="bgpc" scope="col">เลขที่ใบเสร็จรับเงิน</th>
                                    <th class="bgpc" scope="col">สถานะใบกำกับภาษี</th>
                                    <th class="bgpc" scope="col">เลขที่ใบกำกับภาษี</th>
                            <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                            <th class="bgpc" scope="col">ผู้ตรวจสอบรับวางบิล</th>
                            <th class="bgpc" scope="col">สถานะวางบิล</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody id="cancel_table">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
    </div>

    <!-- The Modal ActionAll -->
    <div class="modal" id="ActionAll">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header"  style="background-color:#ae6378;color:white;">
            <h4 class="modal-title"><b>รายละเอียดรับวางบิล</b></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col-12 p-3" style="overflow-x:auto;">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th class="bgpc" scope="col">ลำดับ</th>
                                    <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                                    <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                                    <th class="bgpc" scope="col">วันที่ชำระ</th>
                                    <th class="bgpc" scope="col">วิธีการชำระ</th>
                                    <th class="bgpc" scope="col">บัญชีโอนเงิน</th>
                                    <th class="bgpc" scope="col">จำนวนเงิน</th>
                                    <th class="bgpc" scope="col">ค่าใช้จ่ายเพิ่มเติม</th>
                            <th class="bgpc" scope="col">สถานะการชำระเงิน</th>
                                    <th class="bgpc" scope="col">สถานะใบเสร็จรับเงิน</th>
                            <th class="bgpc" scope="col">เลขที่ใบเสร็จรับเงิน</th>
                                    <th class="bgpc" scope="col">สถานะใบกำกับภาษี</th>
                                    <th class="bgpc" scope="col">เลขที่ใบกำกับภาษี</th>
                                    <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                                    <th class="bgpc" scope="col">ผู้ตรวจสอบรับวางบิล</th>
                            <th class="bgpc" scope="col">สถานะวางบิล</th>
                                    <th class="bgpo" scope="col">เลขที่ P0</th>
                                    <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                                    <th class="bgpo" scope="col">ที่อยู่</th>
                                    <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                                    <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                                    <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                                    <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                                    <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                                    <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                                    <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                                    <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                                    <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                                    <th class="bgpo" scope="col">ประเภทบัญชี</th>
                                    <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                                    <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                                    <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                                    <th class="bgpo" scope="col">แพลนของเข้า</th>
                                    <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                                    <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                                    <th class="bgpr" scope="col">โครงการ</th>
                                    <th class="bgpr" scope="col">เลขที่ PR</th>
                                    <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                                    <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                                    <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                                    <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                                    <th class="bgpr" scope="col">ผู้รับเหมา</th>
                                    <th class="bgpr" scope="col">ลำดับสินค้า</th>
                                    <th class="bgpr" scope="col">รายการสินค้า</th>
                                    <th class="bgpr" scope="col">จุดประสงค์</th>
                                    <th class="bgpr" scope="col">จำนวนสินค้า</th>
                                    <th class="bgpr" scope="col">หน่วย</th>
                                    <th class="bgpr" scope="col">ราคา/หน่วย</th>
                                    <th class="bgpr" scope="col">ส่วนลด</th>
                                    <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                                    <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                                    <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                                    <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                                    <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                                    <th class="bgpr" scope="col">สถานะสินค้า</th>
                                </tr>
                            </thead>
                            <tbody id="edit_table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
            </div>
        </div>
        </div>
    </div>
    <!--/////////////////////-->
    <input type="hidden" id="approve_id" />
    <!-- The Modal ActionConfirm-->
    <div class="modal" id="ActionConfirm">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ตรวจสอบวางบิล</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="approve_text">
                    ท่านต้องการยืนยันตรวจสอบวางบิล เลขที่
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-success" id="approve_btn">ยืนยันตรวจสอบวางบิล</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
    <input type="hidden" id="cancel_id" />
    <!-- The Modal ActionCancel-->
    <div class="modal" id="ActionCancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ยกเลิกการวางบิล</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <span id="cancel_text"></span>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text" id="basic-addon1">หมายเหตุการยกเลิก</span>
                        <input type="text" class="form-control" id="cancel_remark" aria-describedby="basic-addon1" required>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-danger" id="cancel_btn">ยืนยันยกเลิก</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
    <input type="hidden" id="cancel_read_id" />
    <!-- The Modal ActionApproveCancel-->
    <div class="modal" id="ActionApproveCancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">รับทราบการยกเลิกการวางบิล</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="cancel_read_text">
                    ท่านรับทราบการยกเลิกการวางบิล เลขที่ 
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-danger" id="read_btn">ตกลง</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
    <!-- The Modal RefShowFile-->
    <div class="modal" id="RefShowFile">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="show_file_text">เอกสารอ้างอิง</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" id="show_file_pane">
                                <div class="file-loading">
                                    <input id="show_files" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
</div>

<script>
    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    var baseUrl = @Html.Raw("\'" + Url.Action("Index", "Home") + "\'");
    baseUrl = baseUrl + (baseUrl == '/' ? 'api/billing/' : '/api/billing/');
</script>
<script type="text/javascript" src="~/js/billing-approver.js"></script>