@using Newtonsoft.Json;
@{
    ViewData["Title"] = "รับวางบิล";
}
<div class="container-fluid" style="background-color:#fcfcfc">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="ProjectName"><b>ชื่อโครงการ</b></label>
                <select class="form-select" id="ProjectName">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="PrNo"><b>เลขที่ PR</b></label>
                <select class="form-select" id="PrNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="PrNo"><b>เลขที่ PO</b></label>
                <select class="form-select" id="PrNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="RequesterId"><b>ผู้สั่งสินค้า</b></label>
                <select class="form-select" id="RequesterId">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="Status"><b>สถานะสินค้า</b></label>
                <select class="form-select" id="PrNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <button type="button" class="btn btn-outline-success"><i class="fa fa-search"> &nbsp;ค้นหา</i></button>
    </div>
    <div class="d-flex justify-content-end ">
        <button type="button" class="btn btn-warning" id="add_billing" data-bs-toggle="modal" data-bs-target="#AddBilling">
            <i class="fa fa-plus"> &nbsp;เพิ่มรับวางบิล</i>
        </button>
    </div>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#All">ทั้งหมด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" data-bs-toggle="tab" href="#Approve">ตรวจสอบรับวางบิล</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" data-bs-toggle="tab" href="#Purchase">
                สั่งซื้อ&nbsp;
                <span class="badge bg-primary">1</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" data-bs-toggle="tab" href="#Cancel">
                ยกเลิก&nbsp;
                <span class="badge bg-danger">1</span>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Tab panes All -->
        <div id="All" class="container-fluid tab-pane active">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpc" scope="col">ลำดับ</th>
                            <th class="bgpc" scope="col" colspan="2">ดำเนินการ</th>
                            <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                            <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                            <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bgpc" rowspan="3">1</td>
                            <td class="bgpc" rowspan="3">
                                <span class="material-symbols-outlined" style="color:#0752AE;"
                                        data-bs-toggle="modal" data-bs-target="#ActionBilling">view_list</span>
                            </td>
                            <td class="bgpc" rowspan="3">
                                <span class="material-symbols-outlined" style="color:#A42206;"
                                        data-bs-toggle="modal" data-bs-target="#ActionCancel"> delete </span>
                            </td>
                            <td class="bgpc" rowspan="3"></td>
                            <td class="bgpc" rowspan="3"></td>
                            <td class="bgpc" rowspan="3">ชื่อผู้รับวางบิล</td>
                            <td class="bgpo" rowspan="2">P02301001</td>
                            <td class="bgpo" rowspan="2">ตระกูลไทยศิริ</td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2">ชื่อผู้สั่งซื้อ</td>
                            <td class="bgpo" rowspan="2">ชื่อผู้ตรวจสอบสั่งซื้อ</td>
                            <td class="bgpr">สฟ.ท่าลาน 3</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                        <tr>
                            <td class="bgpr">สฟ.ท่าลาน 5</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
        <!-- Tab panes Approve -->
        <div id="Approve" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpc" scope="col">ลำดับ</th>
                            <th class="bgpc" scope="col" colspan="2">ดำเนินการ</th>
                            <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                            <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                            <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bgpc" rowspan="3">1</td>
                            <td class="bgpc" rowspan="3">
                                <span class="material-symbols-outlined" style="color:#0752AE;"
                                        data-bs-toggle="modal" data-bs-target="#ActionBilling">view_list</span>
                            </td>
                            <td class="bgpc" rowspan="3">
                                <span class="material-symbols-outlined" style="color:#A42206;"
                                        data-bs-toggle="modal" data-bs-target="#ActionCancel"> delete </span>
                            </td>
                            <td class="bgpc" rowspan="3"></td>
                            <td class="bgpc" rowspan="3"></td>
                            <td class="bgpc" rowspan="3">ชื่อผู้รับวางบิล</td>
                            <td class="bgpo" rowspan="2">P02301001</td>
                            <td class="bgpo" rowspan="2">ตระกูลไทยศิริ</td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2">ชื่อผู้สั่งซื้อ</td>
                            <td class="bgpo" rowspan="2">ชื่อผู้ตรวจสอบสั่งซื้อ</td>
                            <td class="bgpr">สฟ.ท่าลาน 3</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                        <tr>
                            <td class="bgpr">สฟ.ท่าลาน 5</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
        <!-- Tab panes Purchase -->
        <div id="Purchase" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpo" scope="col">ลำดับ</th>
                            <th class="bgpo" scope="col" colspan="2">ดำเนินการ</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bgpo" rowspan="3">1</td>
                            <td class="bgpo" rowspan="2">
                                <span class="material-symbols-outlined" style="color:#0752AE;"
                                        data-bs-toggle="modal" data-bs-target="#ActionPurchase">view_list</span>
                            </td>
                            <td class="bgpo" rowspan="2">
                                <span class="material-symbols-outlined" style="color:#A42206;"
                                        data-bs-toggle="modal" data-bs-target="#ActionCancel"> delete </span>
                            </td>
                            <td class="bgpo" rowspan="2">P02301001</td>
                            <td class="bgpo" rowspan="2">ตระกูลไทยศิริ</td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2">ชื่อผู้สั่งซื้อ</td>
                            <td class="bgpo" rowspan="2">ชื่อผู้ตรวจสอบสั่งซื้อ</td>
                            <td class="bgpr">สฟ.ท่าลาน 3</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                        <tr>
                            <td class="bgpr">สฟ.ท่าลาน 5</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
        <!-- Tab panes Cancel -->
        <div id="Cancel" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="bgpc" scope="col">ลำดับ</th>
                            <th class="bgpc" scope="col" colspan="2">ดำเนินการ</th>
                            <th class="bgpc" scope="col">เลขที่ใบวางบิล</th>
                            <th class="bgpc" scope="col">วันที่รับวางบิล</th>
                            <th class="bgpc" scope="col">ผู้รับวางบิล</th>
                            <th class="bgpo" scope="col">เลขที่ P0</th>
                            <th class="bgpo" scope="col">ผู้จำหน่าย</th>
                            <th class="bgpo" scope="col">ที่อยู่</th>
                            <th class="bgpo" scope="col">เบอร์ติดต่อ</th>
                            <th class="bgpo" scope="col">เลขประจำตัวผู้เสียภาษี</th>
                            <th class="bgpo" scope="col">หลักประกันร้านค้า</th>
                            <th class="bgpo" scope="col">ชำระล่วงหน้า(วัน)</th>
                            <th class="bgpo" scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                            <th class="bgpo" scope="col">วันที่ชำระเงิน</th>
                            <th class="bgpo" scope="col">จำนวนวัน(วัน)</th>
                            <th class="bgpo" scope="col">ช่องทางการชำระเงิน</th>
                            <th class="bgpo" scope="col">บัญชีโอนเงิน</th>
                            <th class="bgpo" scope="col">ประเภทบัญชี</th>
                            <th class="bgpo" scope="col">วันที่ต้องชำระ</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบวางบิล</th>
                            <th class="bgpo" scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                            <th class="bgpo" scope="col">แพลนของเข้า</th>
                            <th class="bgpo" scope="col">ผู้สั่งซื้อ</th>
                            <th class="bgpo" scope="col">ผู้ตรวจสอบสั่งซื้อ</th>
                            <th class="bgpr" scope="col">โครงการ</th>
                            <th class="bgpr" scope="col">เลขที่ PR</th>
                            <th class="bgpr" scope="col">วันที่สั่งซื้อ</th>
                            <th class="bgpr" scope="col">ผู้สั่งสินค้า</th>
                            <th class="bgpr" scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th class="bgpr" scope="col">หักผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ผู้รับเหมา</th>
                            <th class="bgpr" scope="col">ลำดับสินค้า</th>
                            <th class="bgpr" scope="col">รายการสินค้า</th>
                            <th class="bgpr" scope="col">จุดประสงค์</th>
                            <th class="bgpr" scope="col">จำนวนสินค้า</th>
                            <th class="bgpr" scope="col">หน่วย</th>
                            <th class="bgpr" scope="col">ราคา/หน่วย</th>
                            <th class="bgpr" scope="col">ส่วนลด</th>
                            <th class="bgpr" scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                            <th class="bgpr" scope="col">หัก ณ ที่จ่าย</th>
                            <th class="bgpr" scope="col">จำนวนเงินทั้งสิ้น</th>
                            <th class="bgpr" scope="col">วันที่ต้องการส่งมอบ</th>
                            <th class="bgpr" scope="col">หมายเหตุสินค้า</th>
                            <th class="bgpr" scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bgpc" rowspan="3">1</td>
                            <td class="bgpc" rowspan="3">
                                <span class="material-symbols-outlined" style="color:#0752AE;"
                                        data-bs-toggle="modal" data-bs-target="#ActionBilling">view_list</span>
                            </td>
                            <td class="bgpc" rowspan="3">
                                <span class="material-symbols-outlined" style="color:#A42206;"
                                        data-bs-toggle="modal" data-bs-target="#ActionCancel"> delete </span>
                            </td>
                            <td class="bgpc" rowspan="3"></td>
                            <td class="bgpc" rowspan="3"></td>
                            <td class="bgpc" rowspan="3">ชื่อผู้รับวางบิล</td>
                            <td class="bgpo" rowspan="2">P02301001</td>
                            <td class="bgpo" rowspan="2">ตระกูลไทยศิริ</td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2"></td>
                            <td class="bgpo" rowspan="2">ชื่อผู้สั่งซื้อ</td>
                            <td class="bgpo" rowspan="2">ชื่อผู้ตรวจสอบสั่งซื้อ</td>
                            <td class="bgpr">สฟ.ท่าลาน 3</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                        <tr>
                            <td class="bgpr">สฟ.ท่าลาน 5</td>
                            <td class="bgpr">005/0218</td>
                            <td class="bgpr">12/12/65</td>
                            <td class="bgpr">ชื่อผู้สั่งสินค้า</td>
                            <td class="bgpr">ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                            <td class="bgpr">
                                <span class="material-symbols-outlined"
                                        style="color:#000;">done</span>
                            </td>
                            <td class="bgpr">ชื่อผู้รับเหมา</td>
                            <td class="bgpr">1</td>
                            <td class="bgpr">ทรายหยาบ</td>
                            <td class="bgpr">3.3.4</td>
                            <td class="bgpr">3.00</td>
                            <td class="bgpr">คิว</td>
                            <td class="bgpr">200.00</td>
                            <td class="bgpr">10.00</td>
                            <td class="bgpr">14.00</td>
                            <td class="bgpr">6.00</td>
                            <td class="bgpr">210.00</td>
                            <td class="bgpr">31/12/65</td>
                            <td class="bgpr"></td>
                            <td class="bgpr">รอสินค้าจัดส่ง</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/////////////////////-->
    </div>
    <!-- The Modal AddBilling -->
    <div class="modal" id="AddBilling">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ae6378;color:white;">
                    <h4 class="modal-title"><b>เพิ่มรับวางบิล</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="add_store">ผู้จำหน่าย</label>
                                <select class="form-select" id="add_store">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="add_pono">เลขที่ PO</span>
                                <input type="text" class="form-control" id="add_pono" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <p></p><br />
                        <div class="col-12 d-flex justify-content-center ">
                            <button type="button" class="btn btn-outline-success" id="search_po"><i class="fa fa-search"> &nbsp;ค้นหา</i></button>
                        </div>
                        <p></p><br />
                        <div class="col-12">
                            <div class="accordion" id="accordionExample">
                                <!-- /////////////////ค้นหา////////////////// -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>ค้นหา</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 p-3" style="overflow-x:auto;">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"><input type="checkbox" class="custom-control-input" id="po_check_all"><br />#</th>
                                                                <th scope="col">ลำดับ</th>
                                                                <th scope="col">เลขที่ P0</th>
                                                                <th scope="col">หมายเหตุ PO</th>
                                                                <th scope="col">สถานะ PO</th>
                                                                <th scope="col">ร้านค้า</th>
                                                                <th scope="col">ลำดับรายการ</th>
                                                                <th scope="col">โครงการ</th>
                                                                <th scope="col">เลขที่ PR</th>
                                                                <th scope="col">วันที่สั่งซื้อ</th>
                                                                <th scope="col">หักผู้รับเหมา</th>
                                                                <th scope="col">ผู้รับเหมา</th>
                                                                <th scope="col">ผู้ขอจัดซื้อ</th>
                                                                <th scope="col">รายการสินค้า</th>
                                                                <th scope="col">จุดประสงค์</th>
                                                                <th scope="col">สถานะสินค้า</th>
                                                                <th scope="col">จำนวนสินค้า</th>
                                                                <th scope="col">หน่วย</th>
                                                                <th scope="col">ราคา/หน่วย</th>
                                                                <th scope="col">ส่วนลด</th>
                                                                <th scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                                                                <th scope="col">หัก ณ ที่จ่าย</th>
                                                                <th scope="col">จำนวนเงินทั้งสิ้น</th>
                                                                <th scope="col">วันที่ต้องการส่งมอบ</th>
                                                                <th scope="col">หมายเหตุสินค้า</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="po_table">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class=" d-flex justify-content-center p-3">
                                                    <button type="button" class="btn btn-warning" id="add_po"><i class="fa fa-plus"> &nbsp;เพิ่มรายการวางบิล</i></button> &nbsp; &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /////////////////////////////////// -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <b>รายละเอียดรับวางบิล</b>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                        <div class="accordion-body">
                                            <div class="row row-cols-1 row-cols-lg-2">
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text" id="basic-addon1">เลขที่ใบวางบิล</span>
                                                        <input type="text" class="form-control" id="billing_no" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text" id="basic-addon1">วันที่รับวางบิล</span>
                                                        <input type="date" class="form-control" id="billing_date" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="file-loading">
                                                            <input id="billing_files" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 p-3" style="overflow-x:auto;">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">ลำดับ</th>
                                                                <th scope="col">ลบออกจากรายการ</th>
                                                                <th scope="col">เลขที่ P0</th>
                                                                <th scope="col">หมายเหตุ PO</th>
                                                                <th scope="col">สถานะ PO</th>
                                                                <th scope="col">ร้านค้า</th>
                                                                <th scope="col">ลำดับรายการ</th>
                                                                <th scope="col">โครงการ</th>
                                                                <th scope="col">เลขที่ PR</th>
                                                                <th scope="col">วันที่สั่งซื้อ</th>
                                                                <th scope="col">ผู้รับเหมา</th>
                                                                <th scope="col">หักผู้รับเหมา</th>
                                                                <th scope="col">ผู้ขอจัดซื้อ</th>
                                                                <th scope="col">รายการสินค้า</th>
                                                                <th scope="col">จุดประสงค์</th>
                                                                <th scope="col">สถานะสินค้า</th>
                                                                <th scope="col">จำนวนสินค้า</th>
                                                                <th scope="col">หน่วย</th>
                                                                <th scope="col">ราคา/หน่วย</th>
                                                                <th scope="col">ส่วนลด</th>
                                                                <th scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                                                                <th scope="col">หัก ณ ที่จ่าย</th>
                                                                <th scope="col">จำนวนเงินทั้งสิ้น</th>
                                                                <th scope="col">วันที่ต้องการส่งมอบ</th>
                                                                <th scope="col">หมายเหตุสินค้า</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="billing_po_table">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /////////////////////////////////// -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-success" id="add_billing_save_btn">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!--/////////////////////-->
    <!-- The Modal ActionBilling -->
    <div class="modal" id="ActionBilling">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ae6378;color:white;">
                    <h4 class="modal-title"><b>รายละเอียดรับวางบิล</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="ProjectName">ผู้จำหน่าย</label>
                                <select class="form-select" id="ProjectName">
                                    <option selected>ทั้งหมด</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">เลขที่ PO</span>
                                <input type="text" class="form-control" id="PrNo" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <p></p>
                        <div class="col-12 d-flex justify-content-center ">
                            <button type="button" class="btn btn-outline-success"><i class="fa fa-search"> &nbsp;ค้นหา</i></button>
                        </div>
                        <p></p><br />
                        <div class="col-12">
                            <div class="accordion" id="accordionExample">
                                <!-- /////////////////ค้นหา////////////////// -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>ค้นหา</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 p-3" style="overflow-x:auto;">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"><input type="checkbox" class="custom-control-input" id="customCheck1" checked></th>
                                                                <th scope="col">ลำดับ</th>
                                                                <th scope="col">เลขที่ P0</th>
                                                                <th scope="col">ผู้จำหน่าย</th>
                                                                <th scope="col">ที่อยู่</th>
                                                                <th scope="col">เบอร์ติดต่อ</th>
                                                                <th scope="col">เลขประจำตัวผู้เสียภาษี</th>
                                                                <th scope="col">หลักประกันร้านค้า</th>
                                                                <th scope="col">ชำระล่วงหน้า(วัน)</th>
                                                                <th scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                                                                <th scope="col">วันที่ชำระเงิน</th>
                                                                <th scope="col">จำนวนวัน(วัน)</th>
                                                                <th scope="col">ช่องทางการชำระเงิน</th>
                                                                <th scope="col">บัญชีโอนเงิน</th>
                                                                <th scope="col">ประเภทบัญชี</th>
                                                                <th scope="col">วันที่ต้องชำระ</th>
                                                                <th scope="col">ช่องทางรับใบวางบิล</th>
                                                                <th scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                                                                <th scope="col">แพลนของเข้า</th>
                                                                <th scope="col">ผู้สั่งซื้อ</th>
                                                                <th scope="col">โครงการ</th>
                                                                <th scope="col">เลขที่ PR</th>
                                                                <th scope="col">วันที่สั่งซื้อ</th>
                                                                <th scope="col">ผู้สั่งสินค้า</th>
                                                                <th scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                                                                <th scope="col">หักผู้รับเหมา</th>
                                                                <th scope="col">ผู้รับเหมา</th>
                                                                <th scope="col">ลำดับสินค้า</th>
                                                                <th scope="col">รายการสินค้า</th>
                                                                <th scope="col">จุดประสงค์</th>
                                                                <th scope="col">จำนวนสินค้า</th>
                                                                <th scope="col">หน่วย</th>
                                                                <th scope="col">ราคา/หน่วย</th>
                                                                <th scope="col">ส่วนลด</th>
                                                                <th scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                                                                <th scope="col">หัก ณ ที่จ่าย</th>
                                                                <th scope="col">จำนวนเงินทั้งสิ้น</th>
                                                                <th scope="col">วันที่ต้องการส่งมอบ</th>
                                                                <th scope="col">หมายเหตุสินค้า</th>
                                                                <th scope="col">สถานะสินค้า</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2">1</td>
                                                                <td rowspan="2">C004-2212047</td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2">ชื่อผู้สั่งซื้อ</td>
                                                                <td>สฟ.ท่าลาน 3</td>
                                                                <td>005/0218</td>
                                                                <td>12/12/65</td>
                                                                <td>ชื่อผู้สั่งสินค้า</td>
                                                                <td>ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                                                                <td>
                                                                    <span class="material-symbols-outlined"
                                                                            style="color:#000;">done</span>
                                                                </td>
                                                                <td>ชื่อผู้รับเหมา</td>
                                                                <td>1</td>
                                                                <td>ทรายหยาบ</td>
                                                                <td>3.3.4</td>
                                                                <td>3.00</td>
                                                                <td>คิว</td>
                                                                <td>200</td>
                                                                <td>10</td>
                                                                <td>14</td>
                                                                <td>6</td>
                                                                <td>210</td>
                                                                <td>31/12/65</td>
                                                                <td></td>
                                                                <td>รอสินค้าจัดส่ง</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class=" d-flex justify-content-center p-3">
                                                    <button type="button" class="btn btn-warning"><i class="fa fa-plus"> &nbsp;เพิ่มรายการวางบิล</i></button> &nbsp; &nbsp;
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /////////////////////////////////// -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <b>รายละเอียดวางบิล</b>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                        <div class="accordion-body">
                                            <div class="row row-cols-1 row-cols-lg-2">

                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text" id="basic-addon1">เลขที่ใบวางบิล</span>
                                                        <input type="text" class="form-control" id="PrNo" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text" id="basic-addon1">วันที่รับวางบิล</span>
                                                        <input type="date" class="form-control" id="PrNo" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="file-loading">
                                                            <input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 p-3" style="overflow-x:auto;">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">ลบออกจากรายการ</th>
                                                                <th scope="col">ลำดับ</th>
                                                                <th scope="col">เลขที่ P0</th>
                                                                <th scope="col">ผู้จำหน่าย</th>
                                                                <th scope="col">ที่อยู่</th>
                                                                <th scope="col">เบอร์ติดต่อ</th>
                                                                <th scope="col">เลขประจำตัวผู้เสียภาษี</th>
                                                                <th scope="col">หลักประกันร้านค้า</th>
                                                                <th scope="col">ชำระล่วงหน้า(วัน)</th>
                                                                <th scope="col">เลขที่สัญญา/เลขที่เช็ค</th>
                                                                <th scope="col">วันที่ชำระเงิน</th>
                                                                <th scope="col">จำนวนวัน(วัน)</th>
                                                                <th scope="col">ช่องทางการชำระเงิน</th>
                                                                <th scope="col">บัญชีโอนเงิน</th>
                                                                <th scope="col">ประเภทบัญชี</th>
                                                                <th scope="col">วันที่ต้องชำระ</th>
                                                                <th scope="col">ช่องทางรับใบวางบิล</th>
                                                                <th scope="col">ช่องทางรับใบเสร็จรับเงิน/ใบกำกับภาษี</th>
                                                                <th scope="col">แพลนของเข้า</th>
                                                                <th scope="col">ผู้สั่งซื้อ</th>
                                                                <th scope="col">โครงการ</th>
                                                                <th scope="col">เลขที่ PR</th>
                                                                <th scope="col">วันที่สั่งซื้อ</th>
                                                                <th scope="col">ผู้สั่งสินค้า</th>
                                                                <th scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                                                                <th scope="col">หักผู้รับเหมา</th>
                                                                <th scope="col">ผู้รับเหมา</th>
                                                                <th scope="col">ลำดับสินค้า</th>
                                                                <th scope="col">รายการสินค้า</th>
                                                                <th scope="col">จุดประสงค์</th>
                                                                <th scope="col">จำนวนสินค้า</th>
                                                                <th scope="col">หน่วย</th>
                                                                <th scope="col">ราคา/หน่วย</th>
                                                                <th scope="col">ส่วนลด</th>
                                                                <th scope="col">ภาษีมูลค่าเพิ่ม 7%</th>
                                                                <th scope="col">หัก ณ ที่จ่าย</th>
                                                                <th scope="col">จำนวนเงินทั้งสิ้น</th>
                                                                <th scope="col">วันที่ต้องการส่งมอบ</th>
                                                                <th scope="col">หมายเหตุสินค้า</th>
                                                                <th scope="col">สถานะสินค้า</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span class="material-symbols-outlined" style="color:#A42206;">
                                                                        playlist_remove
                                                                    </span>
                                                                </td>
                                                                <td rowspan="2">1</td>
                                                                <td rowspan="2">C004-2212047</td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2"></td>
                                                                <td rowspan="2">ชื่อผู้สั่งซื้อ</td>
                                                                <td>สฟ.ท่าลาน 3</td>
                                                                <td>005/0218</td>
                                                                <td>12/12/65</td>
                                                                <td>ชื่อผู้สั่งสินค้า</td>
                                                                <td>ชื่อผู้ตรวจสอบสั่งสินค้า</td>
                                                                <td>
                                                                    <span class="material-symbols-outlined"
                                                                            style="color:#000;">done</span>
                                                                </td>
                                                                <td>ชื่อผู้รับเหมา</td>
                                                                <td>1</td>
                                                                <td>ทรายหยาบ</td>
                                                                <td>3.3.4</td>
                                                                <td>3.00</td>
                                                                <td>คิว</td>
                                                                <td>200</td>
                                                                <td>10</td>
                                                                <td>14</td>
                                                                <td>6</td>
                                                                <td>210</td>
                                                                <td>31/12/65</td>
                                                                <td></td>
                                                                <td>รอสินค้าจัดส่ง</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /////////////////////////////////// -->
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-success">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!--/////////////////////-->

</div>

<script>
    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    var baseUrl = @Html.Raw("\'" + Url.Action("Index", "Home") + "\'");
    baseUrl = baseUrl + (baseUrl == '/' ? 'api/billing/' : '/api/billing/');
</script>
<script type="text/javascript" src="~/js/billing-index.js"></script>