@if(Model == null)
{
    <script>location.href = '/';</script>
}
@if (Model != null)
{
    <form class="login-form validate-form" method="post" action="@Url.Action("ChangePassword", "User")">
        <span class="login-form-title">
            <b>เปลี่ยนรหัสผ่าน</b>
        </span>
        <p>@Model.Username</p>
        <div class="wrap-input validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="oldPassword" placeholder="รหัสผ่านเก่า" />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="wrap-input validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="newPassword" placeholder="รหัสผ่านใหม่" />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="wrap-input validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="confirmPassword" placeholder="ยืนยันรหัสผ่าน" />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="container-login-form-btn">
            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <span style="color:red;font-size:smaller;">@Model.Message</span><br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
            {
                <span style="color:green;font-size:smaller;">@Model.SuccessMessage</span><br />
            }
            <button class="login-form-btn" type="submit">บันทึก</button>
        </div>
    </form>
}